In [62]:

#needed to make web requests
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime


#test station
station_id = 'GHCND:USW00014735'

In [63]:
#add the access token you got from NOAA
with open("c:\\Users\\hkropp\\Google Drive\\NY_spring\\token_for_real.txt") as f:
    token = f.read().strip()

In [97]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from -2019 ...
for year in range(1920, 2020):
    year = str(year)
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid='+station_id+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':token})
    #load the api response as a json
    d = json.loads(r.text)
    if not d:
        print('no'+year+'in data') 
    else:
        print('working on year '+year)
        #get all items in the response which are average temperature readings
        avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
        #get the date field from all average temperature readings
        dates_temp += [item['date'] for item in avg_temps]
        #get the actual average temperature from all average temperature readings
        temps += [item['value'] for item in avg_temps]

no1920in data
no1921in data
no1922in data
no1923in data
no1924in data
no1925in data
no1926in data
no1927in data
no1928in data
no1929in data
no1930in data
no1931in data
no1932in data
no1933in data
no1934in data
no1935in data
no1936in data
no1937in data
no1938in data
no1939in data
no1940in data
no1941in data
no1942in data
no1943in data
no1944in data
no1945in data
no1946in data
no1947in data
no1948in data
no1949in data
no1950in data
no1951in data
no1952in data
no1953in data
no1954in data
no1955in data
no1956in data
no1957in data
no1958in data
no1959in data
no1960in data
no1961in data
no1962in data
no1963in data
no1964in data
no1965in data
no1966in data
no1967in data
no1968in data
no1969in data
no1970in data
no1971in data
no1972in data
no1973in data
no1974in data
no1975in data
no1976in data
no1977in data
no1978in data
no1979in data
no1980in data
no1981in data
no1982in data
no1983in data
no1984in data
no1985in data
no1986in data
no1987in data
no1988in data
no1989in data
no1990in data
no1991in data
no1992in data
no1993in data
no1994in data
no1995in data
no1996in data
no1997in data
working on year 1998
working on year 1999
working on year 2000
working on year 2001
working on year 2002
working on year 2003
working on year 2004
working on year 2005
no2006in data
no2007in data
no2008in data
no2009in data
no2010in data
no2011in data
no2012in data
working on year 2013
working on year 2014
working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019

In [95]:
if not d:
    print('no year')

no year

In [100]:

#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [101]:
df_temp

           date  avgTemp
0    1998-04-01     12.2
1    1998-04-02     10.0
2    1998-04-03      7.2
3    1998-04-04      4.4
4    1998-04-05      5.6
5    1998-04-06      8.9
6    1998-04-07      9.4
7    1998-04-08      8.3
8    1998-04-09      7.8
9    1998-04-10      7.2
10   1998-04-11      5.6
11   1998-04-12      7.8
12   1998-04-13      9.4
13   1998-04-14     11.7
14   1998-04-15     12.2
15   1998-04-16     13.3
16   1998-04-17     13.3
17   1998-04-18      7.8
18   1998-04-19      8.9
19   1998-04-20      8.9
20   1998-04-21      9.4
21   1998-04-22     11.1
22   1998-04-23     11.7
23   1998-04-24     14.4
24   1998-04-25      9.4
25   1998-04-26      5.0
26   1998-04-27      5.6
27   1998-04-28      9.4
28   1998-04-29     11.7
29   1998-04-30     16.7
...         ...      ...
5107 2019-12-02     -1.3
5108 2019-12-03     -2.2
5109 2019-12-04     -1.2
5110 2019-12-05      1.5
5111 2019-12-06     -0.7
5112 2019-12-07     -3.4
5113 2019-12-08     -8.2
5114 2019-12-09      4.1
5115 2019-12-10      8.3
5116 2019-12-11      0.4
5117 2019-12-12     -3.1
5118 2019-12-13      0.4
5119 2019-12-14      4.3
5120 2019-12-15      5.0
5121 2019-12-16     -1.6
5122 2019-12-17     -2.4
5123 2019-12-18     -1.6
5124 2019-12-19    -10.1
5125 2019-12-20    -10.0
5126 2019-12-21     -9.7
5127 2019-12-22     -6.6
5128 2019-12-23     -0.6
5129 2019-12-24      3.4
5130 2019-12-25     -1.4
5131 2019-12-26      0.6
5132 2019-12-27      5.7
5133 2019-12-28      5.8
5134 2019-12-29      1.2
5135 2019-12-30      1.9
5136 2019-12-31      1.8

[5137 rows x 2 columns]